.nav-wrapper {
    background-color: #03203C;
}

.parallax-container {
    min-height: 290px;
    height: auto;
}

.icon-travel {
    color: #03203C;
}

.footer-one {
    background-color: #03203C;
}

.footer-two {
    background-color: #02192e;
}